@using _18_E_LEARN.BusinessLogic;
@using _18_E_LEARN.DataAccess.Data.Models.Courses;
@model IEnumerable<Course>

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Courses table</h6>
                    @if (User.IsInRole("Administrators"))
                    {
                        <a class="btn bg-gradient-primary w-100 px-3 mb-2 ms-2" asp-controller="Admin" asp-action="AddCourse" data-class="bg-white">Add course</a>
                    }
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Title</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Description</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Price</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Category</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Details</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Edit</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div>
                                                    @if (item.Image == Settings.DefaultCurseImage)
                                                    {
                                                        <img src="@item.Image" class="avatar avatar-sm me-3" alt="user1">

                                                    }
                                                    else
                                                    {
                                                        <img src="~/images//courses/@item.Image" class="avatar avatar-sm me-3" alt="user1">
                                                    }
                                                </div>
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">@item.Name</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">@Html.Raw(@item.Description)</p>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <p class="text-xs font-weight-bold mb-0">@item.Price</p>
                                        </td>
                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">@item.CategoryId</span>
                                        </td>
                                        @if (User.IsInRole("Administrators"))
                                        {
                                            <td class="align-middle">
                                                <a asp-controller="Admin" asp-action="EditCourse" asp-route-id="@item.Id" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                                    Details
                                                </a>
                                            </td>
                                            <td class="align-middle">
                                                <a asp-controller="Admin" asp-action="EditCourse" asp-route-id="@item.Id" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                                    Edit
                                                </a>
                                            </td>
                                            <td class="align-middle">
                                                <a asp-controller="Admin" asp-action="DeleteCourse" asp-route-id="@item.Id" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                                    Delete
                                                </a>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>